@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@using PermissionManagement.MVC.Constants
<h1 class="c-black fontSize-xxl lineHeight-xxl breakPointM-fontSize-xxxl breakPointM-lineHeight-xxxl breakPointL-fontSize-xxxxl breakPointL-lineHeight-xxxxl fontWeight-6">
    It's the foe-fiend
    It's a symple human
    He is a Peter Parker
</h1>
<br />
<center>
    <img src="https://viciados.net/wp-content/uploads/2020/12/7eda25372d15cd8aa765ef82b050f8fe_cropped_1332x834.jpg" align="center" class="media-object img-thumbnail" alt="some text" width=1332 height=834>
</center>
